.classpath
.project
.settings
.checkstyle
bin
.DS_Store
.flattened-pom.xml
target
.idea
target-eclipse
*.iml
log.txt
*.log
release.properties
pom.xml.releaseBackup
springContext.xml
*.swp
MANIFEST.MF
logs
nohup.out
config-cache
target
app/
app.jar